# --- Global ---
.DS_Store
.vscode/
*.log

# --- Client (React) ---
client/node_modules/
client/build/
client/.env
client/npm-debug.log*
client/yarn-error.log*

# --- Server (Python/FastAPI) ---
server/__pycache__/
server/venv/
server/.env
venv/
server/*.py[cod]